<h2>Регистрация</h2>

<div class='row'>
  <div class='col-xs-5'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        (минимум 6 символов)
        <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Зарегистрироваться", class: "btn btn-success" %>
      </div>
    <% end %>

    <%= link_to 'Войти', new_user_session_url %>

  </div>
</div>



