<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-6 col-md-5">
        <div class="row well">

          <h3 class="text-center">Поменять пароль</h3>

          <form class="form">

            <div class="col-xs-12">
              <div class="form-group">
                <%= f.label :password, "Новый пароль" %><br />
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> знаков минимум)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <div class="field">
                  <%= f.label :password_confirmation, "Подтвердите новый пароль" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="form-group">
                <div class="actions">
                  <%= f.submit "Сменить пароль", class: "btn btn-success" %>
                </div>
              </div>
            </div>

          </form>

          <div class="col-xs-12">
            <div class="form-group">
              <%= render "devise/shared/links" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>